.nav {
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media all and (min-width: 600px) {
  .nav {
    max-width: 60%;
  }
}

.nav ul,
.nav ul > li {
  padding: 10px 0px;
}
.nav a {
  color: #637381;
  text-decoration: none;
  font-size: 16px;
}
.nav a:hover {
  color: #011120;
}
.logo a {
  color: rgb(27, 118, 134);
  color: #5c6ac4;
}

.nav ul {
  display: flex;
  list-style-type: none;
}
.nav > ul {
  padding: 0;
  margin: 0;
}
.nav li {
  text-align: center;
  margin-right: 10px;
}
