/*
TODO: Migrate inherited styles from song list so styling is atomic
*/
.item {
  color: #637381;
  position: relative;
  height: 100%;
}
/* workaround to get item to be as large as border-wrapper parent 
which is in songs.module.css (and should be moved here really) */
.item::before {
  padding: 0.8em;
  content: '';
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.wrapper {
  line-height: 1.3em;
  height: 100%;
}
.wrapper a {
  text-decoration: none;
}
.item:hover .artist,
.item:hover .album,
.item:hover .title {
  color: #29368f;
}
.item:hover .title {
  color: #171ba7;
}
.metadata {
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
}
.artist {
  composes: metadata;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 0.7em;
  line-height: 1em;
  color: #637381;
}
.title {
  composes: metadata;
  font-weight: bold;
  margin-top: 0.15em;
  color: #212b36;
}
.album {
  composes: metadata;
  color: #637381;
  margin-top: 0.15em;
  line-height: 1em;
  font-size: 0.8em;
}
