.wrapper {
  font-size: 1.5em;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #c4cdd5;
  border-radius: 5px;
  background: linear-gradient(to bottom, white, #f9fafb9c);
  box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.03), 0 1.8px 2.3px rgba(0, 0, 0, 0.029),
    0 3.4px 4.4px rgba(0, 0, 0, 0.024), 0 6px 5.8px rgba(0, 0, 0, 0.02);
}
.tags {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-size: 0.7em;
}
.metadata {
  margin-top: 1rem;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
}
.artist {
  composes: metadata;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 0.6em;
  line-height: 0.9em;
  color: #637381;
}
.title {
  composes: metadata;
  font-weight: bold;
  margin-top: 0.15em;
  color: #000639;
  line-height: 1.4em;
  color: #212b36;
  color: #230051;
}
.album {
  composes: metadata;
  color: #637381;
  margin-top: 0.2em;
  font-style: italic;
  line-height: 0.8em;
  font-size: 0.8em;
}
.controls {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  border-top: 1px solid #eee;
}
.controls-playback {
  display: flex;
  flex-direction: row;
}
.controls-nav {
  /* width: 12%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: 1px solid #eee;
}
.controls-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls svg {
  width: 1.2em;
  height: 1.2rem;
  max-width: 100%;
  max-height: 100%;
  z-index: 20;
  stroke-width: 0px;
  stroke: #fff;
  fill-opacity: 0.8;
  fill: rgb(65, 21, 146);
}
.controls a {
  text-decoration: none;
  color: #637381;
  line-height: 1.15;
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  padding: 0.15rem 0.3rem;
  z-index: 20;
}
.controls a:hover {
  border-color: #5c6ac4;
}
/* TODO: ☐ Remove backdrop, as I am no longer doing fancy border hovers */
.backdrop {
  opacity: 1;
  transition-property: box-shadow, background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.9, 1);
  position: absolute;
  top: 0;
  background-color: transparent;
  bottom: 0;
  left: 0;
  right: 0;
}
.backdrop::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* I think z-index is required so we dont get border-radius clipping on parent */
  z-index: -1;
  background-color: transparent;
  transition-property: box-shadow, background-color;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.9, 1);
  will-change: background-color;
}
.controls a:hover ~ .backdrop::after {
  background: #d0d7df;
}
.controls-disabled {
  opacity: 0.5;
}
.controls-disabled a:hover {
  pointer-events: none;
}
.play {
  margin-top: 1em;
}
.play svg {
  width: 1.6rem;
  height: 1.6rem;
}
.nextprev {
  margin-top: 1em;
}
