.songs {
  max-width: 600px;
  margin: 0 auto;
  /* font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif; */
}

.songs h1 {
  color: #4a5568;
  font-size: 1.2em;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.songs h3 {
  color: #4a5568;
  font-size: 1em;
  margin: 5px;
}
.controls {
  display: flex;
  justify-content: flex-end;
}
.control {
  margin-left: 0.5em;
}
.control select {
  font-size: 0.8em;
  line-height: 1.2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding: 0.5em 0.65em;
  padding-right: 2.5em;
  border-radius: 0;
  border-width: 0px;
  border-color: #ccc;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 200%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  margin: 0;
  border: 1px solid #ccc;
  /* display: inline-block; */
  /* vertical-align: top; */
}
.control span {
  color: #333;
  font-size: 0.8em;
  line-height: 1.2em;
  display: inline-block;
  padding: 0.5em 0.65em;
  border: 1px solid #ccc;
  border-right: 0;
  /* box-sizing: border-box; */
  /* vertical-align: top; */
  margin: 0;
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #ccc;
  padding: 0.5em 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.stackException,
.stackException + * {
  /* border: 1px solid #ff0000; */

  --space: 3rem;
}

.grid {
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column; */
}

.grids > div {
  width: 100%;
  height: 20vh;
  border: 1px solid #cfd9df;
  /* margin: 5px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
