.songs {
  max-width: 600px;
  margin: 0 auto;
  /* font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif; */
}

.songs h1 {
  color: #4a5568;
  font-size: 1.2em;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.songs h3 {
  color: #4a5568;
  font-size: 1em;
  margin: 5px;
}

.controls * {
  margin-left: 0.2rem;
}

.stack {
  --space: 0.5rem;
  margin-top: calc(var(--space) * 3);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0.5px solid rgb(145, 145, 145);
  border-right: 0.5px solid rgb(145, 145, 145);
  border: 0.5px solid rgb(145, 145, 145);
  box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.04), 0 1.8px 2.3px rgba(0, 0, 0, 0.029),
    0 3.4px 4.4px rgba(0, 0, 0, 0.024), 0 6px 5.8px rgba(0, 0, 0, 0.02);
  padding: 0.7em;
  width: calc(50% - 1em);
  margin: 0.5em;
  /* width: calc(50%); */
  box-sizing: border-box;
}

.stack > * + * {
  margin-top: var(--space);
}

.stackException,
.stackException + * {
  --space: 3rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.grids > div {
  width: 100%;
  height: 20vh;
  border: 1px solid #cfd9df;

  box-sizing: border-box;
  /* display: flex; */
  margin: 10px;
  /* background: #ff0000; */
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: flex-end;
}
