.songs {
  max-width: 600px;
  margin: 0 auto;
  /* font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif; */
}

.songs h1 {
  color: #4a5568;
  font-size: 1.2em;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.songs h3 {
  color: #4a5568;
  font-size: 1em;
  margin: 5px;
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #ccc;
  padding: 0.5em 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.stackException,
.stackException + * {
  /* border: 1px solid #ff0000; */

  --space: 3rem;
}

.grid {
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column; */
}

.grids > div {
  width: 100%;
  height: 20vh;
  border: 1px solid #cfd9df;
  /* margin: 5px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: flex-end;
}
.wrapper {
  position: relative;
}
.icon {
  width: 1.2em;
  height: 1.2em;
  max-width: 100%;
  max-height: 100%;
  display: block;
  line-height: 1.2em;
  color: #ff0000;
}
.icon svg,
.icon path {
  fill: #637381;
}
.control {
  margin-left: 0.5em;
}
.content {
  display: flex;
  align-items: center;
  padding: 0.5em 0.6em;
  z-index: 20;
  position: relative;
}

.wrapper select {
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.001;
  z-index: 30;
  background: #fff;
}

.backdrop {
  background-color: #c4cdd5;
  border: 0.1rem solid transparent;
  box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  transition-property: box-shadow, background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* opacity: 0.5; */
}
.backdrop::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: linear-gradient(to bottom, white, #f9fafb);
  border-radius: 2px;
}
.selected {
}
.label {
  /* display: inline-block; */
  margin-right: 0.4rem;
  color: #637381;
}
.control span {
  /* color: #333;
  font-size: 0.8em;
  line-height: 1.2em;
  display: inline-block;
  padding: 0.5em 0.65em;
  border: 1px solid #ccc;
  border-right: 0;
  box-sizing: border-box;
  margin: 0; */
}
