.songs {
  max-width: 90%;
  margin: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.songs h1 {
  color: #4a5568;
  font-size: 1.2em;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.songs h3 {
  color: #4a5568;
  font-size: 1em;
  margin: 5px;
}

.controls * + * {
  margin-left: 0em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-column-gap: 10px;
  width: 100%;
  margin-top: 1em;
}

.border-wrapper {
}

.grid > div {
  margin-bottom: 1em;
  height: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1em;
}

.list > div {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.controls {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
